<Petal.Button.render type="a" href="/" label="a" />
<Petal.Button.render type="button" label="Button" />
<Petal.Button.render type="live_patch" href="/" label="Live Patch" />
<Petal.Button.render type="live_redirect" href="/" label="Live Redirect" />
